.bg {
    position: relative;
    height: 100vh;
    background: url("небо.png") center/cover no-repeat;
}

/* Горы */
.mountains {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url("горы.png") bottom/cover no-repeat;
    z-index: 2;
}

/* Туман */
.fog-layer {
    position: absolute;
    inset: 0;
    background: url("https://i.imgur.com/8IuucQZ.png") repeat-x;
    opacity: 0.4;
    animation: fogMove 60s linear infinite;
    pointer-events: none;
    z-index: 3;
}

.fog2 {
    opacity: 0.25;
    animation-duration: 120s;
    transform: scale(1.2);
}

/* Текст */
.welcome {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8vw;
    font-weight: bold;
    text-shadow: 0 0 20px black;
    z-index: 5; /* текст поверх всего */
    text-align: center;
}

.welcome1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 0 0 20px black;
    z-index: 5; /* текст поверх всего */
    text-align: center;
}
